/3rd course/1 semestr/Machine learning systems/
/.tmp.driveupload
2nd course/2nd semester/Data processing systems/jupyter_notebooks_data/data/mercary_price_train.tsv
3rd course/1 semester/Machine learning systems/fil.zip
3rd course/1 semester/Machine learning systems/машинне.rar
