{% extends 'main/layout.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
<div class="content">
    <h1>Login</h1>
    <form action="" method="post">
        {% csrf_token %}
    
        <form>
        <div class="username">
            <label for="exampleInputUsername1" class="form-label">Username</label>
            <input type="username" class="form-control" name="username" aria-describedby="emailHelp">

        </div>
        <div class="password">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>


        <input type="submit"
        value="Submit"
        class="btn btn-secondary">
    
    </form>
</div>
{% endblock %}