{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://kit.fontawesome.com/197f0b4d79.js" crossorigin="anonymous"></script>
</head>
<body>
    <aside>
        <a href="{% url 'home' %}"><img src="{% static 'main/img/logo.png' %}" alt="logo">
            <span class="logo">Guide</span>
            <span class="logo">Book</span></a>
        <ul>
            <a href="{% url 'places' %}"><li><i class="fa-solid fa-location-dot"></i> Places</li></a>
            <a href="{% url 'events' %}"><li><i class="fa-solid fa-calendar-check"></i> Events</li></a>
            <a href="{% url 'profile' %}"><li><i class="fa-solid fa-user"></i> Profile</li></a>
            <div class="night-mode-toggle">
                <label for="night-mode-checkbox"><i class="fa-solid fa-moon" style="display: none;"></i><i class="fa-solid fa-sun"></i> Mode</label>
                <input type="checkbox" id="night-mode-checkbox" style="display: none;">
            </div>
            
            <script src="{% static 'main/js/script.js'%}"></script>
        </ul>
    </aside>
    <main>
    {% block content %}
    {% endblock %}    
    </main>
</body>
</html>