{% extends 'main/layout.html' %}

{% block title %}
    <title>Events page</title>
{% endblock %}

{% block content %}
    <div class="content">
        <h1>Events page</h1>
        <form action="{% url 'events' %}" method="get">
            <p>
                <input type="text" id="search" name="search" placeholder="Пошук">
            </p>
            {% if user.is_authenticated %}
                <a href="{% url 'events_add' %}"><li><i class="fa-solid fa-calendar-plus"></i> Add Event</li></a>
            {% endif %}
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            <label for="county">Країна:</label>
                            <input type="text" id="county" name="county">
                            <label for="city">Місто:</label>
                            <input type="text" id="city" name="city">
                        </p>
            
                        <p>
                            <label for="region">Регіон:</label>
                            <input type="text" id="region" name="region">
                            <label for="type">Тип:</label>
                            <input type="text" id="type" name="type">
                        </p>
            
                        <label for="order_by">Сортувати за:</label>
                        <select id="order_by" name="order_by">
                            <option value="asc">найшвидчими подіями</option>
                            <option value="desc">найпізнішими подіями</option>
                        </select>
                    
                        <button type="submit">Застосувати фільтр</button>
                    </div>
                  </div>
                </div>
            </div>
            
        </form>
        <div class="row">
            {% for event in events %}
                <div class="col-md-4-mb-4">
                    <div class="card">
                        <a href="{% url 'event-detail' event.id %}">
                            <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'event-detail' event.id %}">
                                <h5 class="card-title">{{ event.name }}</h5>
                            </a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <a href="{% url 'place-detail' event.place.id %}">
                                <li class="list-group-item">Place: {{ event.place }}</li>
                            </a>
                            <li class="list-group-item">Початок: {{ event.datetime_start }}</li>
                            <li class="list-group-item">Закінчення: {{ event.datetime_end }}</li>
                            <li class="list-group-item">Організатор: {{ event.owner }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
